/* .f-container {
  justify-content: space-between;
}

.f-left {
  gap: 1rem;
}

.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768) {
  .f-container {
    justify-content: center;
  }
  .f-container > div {
    align-items: center !important;
    text-align: center;
  }
} */

.f-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.f-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-menu {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  flex-wrap: wrap;
}

/* MOBILE */
@media (max-width: 768px) {
  .f-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .f-container > div {
    align-items: center !important;
  }

  .f-menu {
    justify-content: center;
    gap: 1rem;
  }
}
